html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url('./imgs/olavinho.png'), pointer;
}

body::before {
    content: '';
    background-image: url('./imgs/stone.png');
    background-repeat: repeat;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: .5;
}

.header {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    z-index: 1;
    padding: 15px;
}

.header img{
    max-width: 220px;
}

/* **************
    GAME ENGINE
**************  */

.game-over:hover {
    z-index: 3;
}

#instructions:checked ~ .rules {
    z-index: 2;
}

#instructions:checked ~ #instructions-close {
    z-index: 5;
}

.rules {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url(./imgs/wood.jpg);
    background-repeat: repeat;
}

.game-over {
    background-color: #330000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -3;
    cursor: initial;
}

.win-view {
    background-color: #030;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -3;
    cursor: initial;
}

.lava:hover ~ .game-over {
    z-index: 3;
}

.goticulo:hover ~ .game-over {
    z-index: 3;
}

::root {
  counter-reset: score;
}

.jowel:checked {
  counter-increment: score;
}

#j1:checked ~ #j2:checked ~ #j3:checked ~ #j4:checked ~ #portal-label {
    opacity: 1;
    transform: scale(1);
    animation: portal-animation 10s linear infinite;
}

#portal:checked ~ .win-view {
    z-index: 3;
}
/* **************
      INTERFACE
**************  */

.score-board {
    align-items: center;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    justify-content: space-around;
    display: flex;
    right: 0;
    top: 0;
    padding: 10px;
    width: 100px;
}

.score-board::after {
    color: #fff;
    font-size: 1.25em;
    font-weight: bold;
    content: counter(score) " / 4";
    display: block;
}

.rules {
    color: #000;
    font-weight: bold;
    font-size: 1.3em;
    padding: 10%;
    font-family: "Courier New", Courier, monospace;
}

.rules .logo {
    display: block;
    margin: 0 auto 80px;
}

.rules img {
    display: block;
    margin: 0 auto;
}

#instructions-close {
    font-family: "Courier New", Courier, monospace;
    font-size: 1.5em;
    background: #8b6e56;
    padding: 5px 15px;
    z-index: -1;
    box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.75);
    bottom: 8px;
    left: calc(50% - 58px );
}

/* **************
        REWARDS
**************  */

input[type=checkbox] {
    pointer-events: none;
    opacity: 0;
}


label {
    position: absolute;
    z-index: 2;
    padding: 20px;
    cursor: url('./imgs/olavinho.png'), pointer;
}

label img {
    filter: drop-shadow(0 0 3px #f00);
    animation: jewel-glow 1s ease infinite;
}

@keyframes jewel-glow{
 0% { filter: drop-shadow(0 0 0px #f00); }
 50% { filter: drop-shadow(0 0 5px #f00); }
 100% { filter: drop-shadow(0 0 0px #f00); }
}

#l1 {
    top: 105px;
    left: 175px;
    transition: all .6s ease-in;
}

#l2 {
    top: 105px;
    left: 753px;
    transition: all .4s ease-in;
}

#l3 {
    top: 625px;
    left: 175px;
    transition: all 1s ease-in;
}

#l4 {
    top: 625px;
    left: 753px;
    transition: all .8s ease-in;
}

.jowel#j1:checked ~ #l1{
    top: 10px;
    left: 850px;
    opacity: 0;
}

.jowel#j2:checked ~ #l2{
    top: 10px;
    left: 850px;
    opacity: 0;
}

.jowel#j3:checked ~ #l3{
    top: 10px;
    left: 850px;
    opacity: 0;
}

.jowel#j4:checked ~ #l4{
    top: 10px;
    left: 850px;
    opacity: 0;
}

/* **************
         MAP
**************  */

.board {
    background: url('./imgs/lava.png');
    height: 800px;
    position: relative;
    width: 1000px;
}

.lava {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.room {
    position: absolute;
    background: url('./imgs/stone.png');
    bottom: calc(50% - 170px);
    height: 340px;
    left: calc(50% - 170px);
    width: 340px;
    box-shadow: 0px 5px 4px -2px rgba(0,0,0,0.75);
    z-index: 2;
}

.bridge {
    position: absolute;
    background: url('./imgs/stone.png');
    box-shadow: 0px 5px 4px -2px rgba(0,0,0,0.75);
}

#plataform {
    width: 120px;
    height: 40px;
    bottom: 0;
    left: calc(50% - 60px);
    box-shadow: none;
}

.bridge#b1 {
    width: 40px;
    height: 120px;
    bottom: 0;
    left: calc(50% - 20px);
    box-shadow: none;
    z-index: 2;
}

.bridge#b2 {
    width: 620px;
    height: 40px;
    bottom: 120px;
    left: calc(50% - 310px);
    z-index: 1;
}

.bridge#b3 {
    width: 620px;
    height: 40px;
    bottom: 280px;
    left: calc(50% - 310px);
}

.bridge#b4 {
    bottom: 160px;
    height: 120px;
    left: calc(50% - 310px);
    width: 40px;
}

.bridge#b5 {
    bottom: 160px;
    height: 120px;
    right: calc(50% - 310px);
    width: 40px;
}

.bridge#b6 {
    width: 40px;
    height: 120px;
    top: 15px;
    left: calc(50% - 20px);
}

.bridge#b7 {
    width: 620px;
    height: 40px;
    top: 120px;
    left: calc(50% - 310px);
}

.bridge#b8 {
    width: 620px;
    height: 40px;
    top: 280px;
    left: calc(50% - 310px);
    z-index: 1;
}

.bridge#b9 {
    top: 160px;
    height: 120px;
    left: calc(50% - 310px);
    width: 40px;
}

.bridge#b10 {
    top: 160px;
    height: 120px;
    right: calc(50% - 310px);
    width: 40px;
}

#instructions-label {
    bottom: -20px;
    left: calc(50% + 5px);
    z-index: 1;
    position: absolute;
}

#portal-label {
    left: calc(50% - 35px);
    top: 0;
    animation: portal-animation 10s linear infinite;
    opacity: 0;
    transition: all .4s ease-in;
    transform: scale(3);
}

@keyframes portal-animation {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
}

/* **************
    MAP MASKS
**************  */

.mask {
    background-color: transparent;
    opacity: .7;
    position: absolute;
}

.mask:hover ~ .game-over {
    z-index: 3;
}

#m1 {
    width: 511px;
    right: 0;
    height: 110px;
    bottom: 40px;
}

#m2 {
    width: 475px;
    left: 0;
    height: 110px;
    bottom: 40px;
}

#m3 {
    width: 130px;
    left: 197px;
    height: 154px;
    bottom: 159px;
}

#m4 {
    width: 377px;
    left: 305px;
    height: 100px;
    bottom: 163px;
}

#m5 {
    width: 132px;
    right: 229px;
    height: 152px;
    bottom: 159px;
}

#m6 {
    width: 189px;
    right: 0;
    height: 100%;
    bottom: 0;
}

#m7 {
    width: 189px;
    left: 0;
    height: 100%;
    bottom: 0;
}

#m8 {
    width: 511px;
    right: 0;
    height: 120px;
    top: 0;
}

#m9 {
    width: 475px;
    left: 0;
    height: 120px;
    top: 0;
}

#m10 {
    width: 144px;
    left: 197px;
    height: 150px;
    top: 130px;
}

#m11 {
    width: 377px;
    left: 305px;
    height: 100px;
    top: 130px;
}

#m12 {
    width: 135px;
    right: 226px;
    height: 150px;
    top: 130px;
}

#m13 {
    width: 140px;
    left: 189px;
    height: 188px;
    bottom: 322px;

}

#m14 {
    width: 170px;
    right: 190px;
    height: 188px;
    bottom: 322px;
}

/* **************
        ENEMIES
**************  */

.goticulo {
    width: 32px;
    height: 32px;
    position: absolute;
    display: block;
    background: url('./imgs/goticulos.png') no-repeat;
    z-index: 3;
}

.goticulo#g1 {
    bottom: calc(50% - 160px);
    left: calc(50% - 160px);
    animation: g1 3s linear infinite;
}

.goticulo#g2 {
    bottom: calc(50% - -128px);
    left: calc(50% - -128px);
    animation: g2 3s linear infinite;
}

@keyframes g1 {
    0% {
        bottom: calc(50% - 160px);
        left: calc(50% - 160px);
    }

    25% {
        bottom: calc(50% - 160px);
        left: calc(50% - -128px);
    }

    50% {
        bottom: calc(50% - -128px);
        left: calc(50% - -128px);
    }

    75% {
        bottom: calc(50% - -128px);
        left: calc(50% - 160px);
    }
}

@keyframes g2 {
    0% {
        bottom: calc(50% - -128px);
        left: calc(50% - -128px);
    }

    25% {
        bottom: calc(50% - -128px);
        left: calc(50% - 160px);
    }

    50% {
        bottom: calc(50% - 160px);
        left: calc(50% - 160px);
    }

    75% {
        bottom: calc(50% - 160px);
        left: calc(50% - -128px);
    }
}